<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="clients">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Clients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="collections">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Collectes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Mon compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
