<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Création client</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <form [formGroup]="myForm" (ngSubmit)="onSave()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Matricule</ion-label>
        <ion-input formControlName="accountNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Téléphone</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" class="ion-padding" expand="full" color="success" [disabled]="myForm.invalid">
      <ion-icon name="save-outline"></ion-icon>
      <ion-label class="ion-padding">Enregistrer</ion-label>
    </ion-button>
  </form>

</ion-content>
