<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/collections"></ion-back-button>
    </ion-buttons>
    <ion-title>Recettes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="initActionSheet()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let collectionLine of collectionsLines">
      <ion-label>{{ collectionLine.customer.firstName }} {{ collectionLine.customer.name }}</ion-label>
      <ion-chip slot="end">
        <ion-label>{{ collectionLine.amount }}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
